.contact {
  background-color: var(--color-black);
  padding: 114px 0 108px;
  &__container {
    @include flex-all-center;

    flex-direction: column;
    max-width: 600px;
  }
  &__title {
    margin-bottom: 15px;
  }
  &__descr {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: var(--color-silver);
    margin-bottom: 23px;
  }
}
