.social {
  @include flex-v-center;
  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__link {
    svg {
      width: 24px;
      height: 24px;
      fill: var(--color-silver);
    }
    &:hover {
      svg {
        color: var(--color-light);
      }
    }
  }
}
