<section class="contact">
  <div class="container contact__container">
    <h2
      class="section-title contact__title"
      data-aos="fade-up"
      data-aos-delay="300"
      data-aos-duration="2000"
    >
      Need help with photography or videography?
    </h2>
    <p
      class="contact__descr"
      data-aos="fade-up"
      data-aos-delay="500"
      data-aos-duration="2000"
    >
      We're here for you!
    </p>
    <a
      class="link contact__link"
      href="#"
      data-aos="fade-up"
      data-aos-delay="500"
      data-aos-duration="2000"
      >Get in touch</a
    >
  </div>
</section>
