<section class="example example--costa-rica">
  <div
    class="example__wrapper"
    data-aos="fade-left"
    data-aos-delay="300"
    data-aos-duration="2000"
  >
    <h3 class="descr example__title">Monstera Leafs</h3>
    <p class="descr example__descr">
      Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut
      faucibus orci tincidunt.
    </p>
  </div>
  <div class="marks example__marks">
    <div class="mark mark-time">1/400s</div>
    <div class="mark mark-aperture">f/3,5</div>
    <div class="mark mark-iso">100</div>
    <div class="mark mark-location">Costa Rica</div>
  </div>
</section>
