<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__about">
        <a class="logo footer__logo" href="index.html">
          <img
            class="logo__img"
            src="img/logo.svg"
            alt="Aperture Logo"
            width="128"
            height="31"
          />
        </a>
        <p class="text footer__descr">
          Photographers & videographers capturing the world around us.
        </p>
      </div>
      <ul class="list-reset footer__list footer__areas">
        <li class="footer__list-item">
          <span class="footer__list-link footer__list-title"
            >Business areas</span
          >
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">Product Photography</a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">Architecture Photography</a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">Drone Photography</a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">Wildlife Photography</a>
        </li>
      </ul>
      <ul class="list-reset footer__list footer__pages">
        <li class="footer__list-item">
          <span class="footer__list-link footer__list-title">Pages</span>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">Gear cage</a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">Featured images</a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">Contact</a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">Style guide</a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">Instructions</a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">Changelog</a>
        </li>
      </ul>
    </div>
    <div class="footer__newsletter">
      <div class="footer__newsletter-text">
        <h3 class="descr footer__title">Subscribe to our newsletter</h3>
        <p class="text footer__descr">Read about all the things we do.</p>
      </div>
      <form class="footer__form" action="#">
        <input
          class="input-reset footer__input"
          type="email"
          required
          aria-label="Enter your email"
        />
        <button
          class="btn-reset btn btn--secondary footer__btn"
          type="submit"
          aria-label="Subscribe Button"
        >
          Subscribe
        </button>
      </form>
    </div>
    <div class="footer__bottom">
      <span class="descr footer__copy"
        >© Aperture Photography, Inc. All rights reserved. Licensing.</span
      >
      <ul class="list-reset social">
        <li class="social__item">
          <a class="social__link" href="#" aria-label="Link to Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" aria-label="Link to Instagram">
            <svg>
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" aria-label="Link to Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
