<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="logo header__logo" href="index.html">
        <img
          class="logo__img"
          src="img/logo.svg"
          alt="Aperture Logo"
          width="128"
          height="31"
        />
      </a>
      <nav class="nav" title="Navigation" data-menu>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link" data-menu-item>Business areas</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link" data-menu-item>Featured images</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link" data-menu-item>Gear cage</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link" data-menu-item>Contact</a>
          </li>
          <li class="nav__item">
            <button class="btn-reset btn header__btn" data-menu-item>
              Get template
            </button>
          </li>
        </ul>
      </nav>
      <button
        class="burger"
        aria-label="Открыть меню"
        aria-expanded="false"
        data-burger
      >
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
