<section class="hero">
  <div class="container hero__container">
    <span class="descr hero__text" data-aos="fade-down" data-aos-delay="300"
      >Photographer & Filmmaker</span
    >
    <h1 class="hero__title" data-aos="fade-down" data-aos-delay="400">
      Aperture Studios
    </h1>
    <p class="descr hero__descr" data-aos="fade-down" data-aos-delay="500">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
      sem vitae risus tristique posuere.
    </p>
  </div>
  <div class="marks hero__marks">
    <div class="mark mark-time">1/2000s</div>
    <div class="mark mark-aperture">f/11</div>
    <div class="mark mark-iso">100</div>
    <div class="mark mark-location">Iceland</div>
  </div>
</section>
