<section class="tools">
  <div class="tools__wrapper">
    <div class="tools__content">
      <span class="descr tools__subtitle">The Gear cage</span>
      <h2 class="descr tools__title">The tools that we use.</h2>
      <p class="descr tools__descr">
        The say that "no place is boring if you've had a good night's sleep and
        have a pocket full of unexposed film". While we don't shoot (a lot) of
        film these days — these are the tools that we actually use everyday to
        capture the amazing things around us.
      </p>
      <a class="link tools__link" href="#">Check it out</a>
    </div>
    <div class="tools__image">
      <picture>
        <source srcset="img/tools-img.avif" type="image/avif" />
        <source srcset="img/tools-img.webp" type="image/webp" />
        <img
          class="tools__img"
          loading="lazy"
          src="img/tools-img.jpg"
          width="720"
          height="540"
          alt="The tools that we use"
        />
      </picture>
      <div class="marks tools__marks">
        <div class="mark mark-time">0,8''</div>
        <div class="mark mark-aperture">f/5,6</div>
        <div class="mark mark-iso">100</div>
        <div class="mark mark-location">Sweden</div>
      </div>
    </div>
  </div>
</section>
